.layout {
  position: fixed;
  right: 0;
  left: auto;
  height: 100%;
  width: fit-content;
  padding: 8px;
  top: 0;
  flex: 1 0 auto;
  overflow-y: auto;
  flex-direction: column;
  background-color: #888888;
  z-index: 100;
}

.close {
  margin-bottom: 8px;
}

.close:hover {
  font-weight: 700;
  cursor: pointer;
  color: inherit;
}
