/* https://css-tricks.com/updating-a-css-variable-with-javascript/
   https://stackoverflow.com/questions/41725725/access-css-variable-from-javascript */
:root {
  --border: 2px;
  --readable-white: #888888;
  --app-size-width: none;
  --app-size-height: none;
  --background-black: none;
  --deemphasized-black: none;
  --active-purple: none;
  --border-important-white: none;
  --border-unimportant-black: none;
  --hex-center-radius: none;
  --grid-width: none;
  --grid-height: none;
}

.game-area {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: var(--background-black);
  width: var(--app-size-width);
  height: var(--app-size-height);
}

.hidden-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hidden-scrollbars::-webkit-scrollbar {
  display: none;
}

/**
      // see https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
      // https://stackoverflow.com/questions/4192847/set-scroll-position
      // https://stackoverflow.com/questions/53158796/get-scroll-position-with-reactjs
*/

.hex-block {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.hex-half-block {
  width: calc(0.5 * var(--grid-width));
  height: var(--grid-height);
}

.hex-block-row {
  display: block;
  float: left;
  min-width: max-content;
}
