/* https://css-tricks.com/updating-a-css-variable-with-javascript/
   https://stackoverflow.com/questions/41725725/access-css-variable-from-javascript */
:root {
  --border: 2px;
  --readable-white: #888888;
  --app-size-width: none;
  --app-size-height: none;
  --background-black: none;
  --deemphasized-black: none;
  --active-purple: none;
  --border-important-white: none;
  --border-unimportant-black: none;
  --hex-center-radius: none;
  --grid-width: none;
  --grid-height: none;
}

.game-area {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: var(--background-black);
}

.hidden-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hidden-scrollbars::-webkit-scrollbar {
  display: none;
}

/**
      // see https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
      // https://stackoverflow.com/questions/4192847/set-scroll-position
      // https://stackoverflow.com/questions/53158796/get-scroll-position-with-reactjs
*/

.hex-block {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--grid-width);
  height: var(--grid-height);
}

.hex-half-block {
  width: calc(0.5 * var(--grid-width));
  height: var(--grid-height);
}

.hex-block-row {
  display: block;
  float: left;
  min-width: max-content;
}

.hex-center {
  border-style: solid;
  border-width: var(--border);
  /* circle */
  border-radius: 50%;
  width: calc(2 * var(--hex-center-radius));
  height: calc(2 * var(--hex-center-radius));
}
.hex-center-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* otherwise the border width screws up centering here */
  margin-top: calc(-1 * var(--border));
  margin-left: calc(-1 * var(--border));
  width: calc(2 * var(--hex-center-radius));
  height: calc(2 * var(--hex-center-radius));
}

.empty-positioned {
  height: 0;
  width: 0;
  position: relative;
}

.hex-center:hover ~ div .hover-only {
  display: block;
}
.hover-only {
  display: none;
}
.node-tooltip {
  border-style: solid;
  width: max-content;
  max-width: 224px;
  padding: 4px;
  /* background: rgba(255, 255, 255, 0.3); */
  background: #666666;
  position: absolute;
  top: 20px;
  left: -8px;
}

.hex-block:hover .hover-only-2 {
  display: block;
}
.hover-only-2 {
  display: none;
  position: absolute;
}
.absolute-positioned {
  position: absolute;
}
.question {
  margin-top: -32px;
  color: var(--readable-white);
  cursor: pointer;
}

.hex-center-lock {
  margin-left: calc(-2 * var(--hex-center-radius));
  width: calc(2 * var(--hex-center-radius));
  height: calc(5 * var(--hex-center-radius));
}

.hex-center-lock-left {
  border-style: solid;
  border-width: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--hex-center-radius);
  width: calc(2 * var(--hex-center-radius));
  height: calc(1 * var(--hex-center-radius));
  background-color: var(--active-purple);
}

.hex-center-lock-right {
  border-style: solid;
  border-width: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--hex-center-radius);
  width: calc(2 * var(--hex-center-radius));
  height: calc(1 * var(--hex-center-radius));
  background-color: var(--active-purple);
}

.tiny-text {
  color: var(--readable-white);
  font-size: small; /* this invalidates the below comment, potentially */

  /* font is 12px x 16px but there's like 2px of "typography space/kern" at the right and top.
  this fills it in symmetrically on the left and bottom.*/
  /*
  padding-left: 2px;
  padding-bottom: 2px; */
  max-width: 48px;
  overflow: hidden;
  cursor: default;
}
