.layout {
  position: fixed;
  left: auto;
  right: 0;
  /* left: 0;
  right: auto; */
  height: 100%;
  width: fit-content;
  max-width: 35%;
  padding: 8px;
  top: 0;
  flex: 1 0 auto;
  overflow-y: auto;
  flex-direction: column;
  /* background-color: #888888; */
  background-color: rgb(136, 136, 136, 0.8);
  z-index: 100;
}

.right-sidebar {
  position: fixed;
  left: auto;
  right: 0;
}

.left-sidebar {
  position: fixed;
  left: 0;
  right: auto;
}
