.tab-content-body {
  text-align: left;
}

.details {
  margin-bottom: 4px;
}

.details summary {
  cursor: pointer;
}

.details-body div {
  margin-left: 8px;
  margin-top: 4px;
}

.details-body .final-total {
  text-align: right;
  margin-right: 8px;
}
